:root {
    --vt-c-indigo: #2c3e50;
    --color-heading: var(--vt-c-indigo);
    --color-text: var(--vt-c-indigo);
    --color-background: #ffffff;
}

body {
    min-height: 100vh;
    color: var(--color-text);
    background: var(--color-background);
    transition: color 0.5s, background-color 0.5s;
    line-height: 1.6;

    font-family: Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;

    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#app {
    width: 100%;
    margin: 0;
    padding: 0;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.app-content {
    flex: 1;
}

button {
    border-radius: 0;
    border: 1px solid transparent;
    transition: all 0.2s;
    background-color: #2c3e50;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #34495e;
    border-color: white;
}

@media (min-width: 1024px) {
    body {
        display: block;
    }

    #app {
        padding: 0;
    }
}
